<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% load static %}
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Escuela de Música FIGARO</title>
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <img src='{% static "/img/logo.png" %}' width="200px">
        </header>

        <main class="contenido">
            <h1>¡Se ha mandado un email para recuperar tu contraseña!</h1>
            <br>
            <br>
            ¿Ya tienes cuenta?
            <button type="button" class="button">
                <a href="{% url "iniciar" %}">LOGIN</a>
            </button>
            </form>

        </main>
        <aside class="sidebar">
        </aside>
        <div class="widget-1">
        </div>
        <div class="widget-2">
        </div>
        <footer class="footer">
        </footer>
    </div>
</body>

</html>